<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <header>CellRebelSDK</header>
    <ion-button color="success" id="btn-start" (click)="onStartTracking()">Start tracking</ion-button>
    <ion-button color="warning" id="btn-stop" (click)="onStopTracking()">Stop tracking</ion-button>
  </section>

</ion-content>
